env.py
mdb/
assets/js/.env
my-app/public/env.js
my-app/.env
olla-env/
env.py
.DS_Store
olla_ig/.DS_Store
test_scripts/__pycache__
__pycache__
./olla-env
olla-env
venv/
node_modules
package-lock.json
build/