# env
./olla-env
olla-env
venv/
env.py
config.js
.env
src/.env
olla/
backend/.back-env
backend/.env
backend/node_modules
mdb/
private-key.pem
certificate.pem

# dependencies
/node_modules
package-lock.json
backend/node_modules
backend/package-lock.json

# misc
.DS_Store
olla_ig/.DS_Store
test_scripts/__pycache__
__pycache__

