{% load socialaccount %}
    {% providers_media_js %}

    <div id="grid-container">
        <div class="header">
            <h1>Welcome to Olla AI</h1>
        </div>
        <div class="login-container">
            <p>Experience seamless onboarding with Olla AI's innovative solutions.</p>

            <a href='{% provider_login_url "facebook" method="js_sdk" %}'>Facebook Connect</a>

        </div>
        <div class="footer pt-5">
            <p>Learn more about us at <a href="https://www.olla.ai">www.olla.ai</a></p>
        </div>
    </div>
