.modal-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.branded {
    color: #ff5331f5;
}

.privacy-policy {
    font-family: 'Work Sans', sans-serif;
}