.App {
    background: url('olla-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    overflow: none;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #ff5531;
}

.welcome-container {
    padding: 20px;
}

.loginDetails {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #0a0a0a;
    font-size: 1.25rem;
    letter-spacing: -1px;
}

.welcome-container {
    padding: 20px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(96, 29, 1, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

strong,
a#link-to-olla {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #ff5531;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1.25rem;
}

.btn {
    border-radius: 4px;
    color: #e4e6eb;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border: none;
    cursor: pointer;
}

.btn:disabled {
    background-color: #494949;
    color: #ccc;
}

.btn:disabled:hover {
    cursor: not-allowed;
}

.btn:not(:disabled):hover {
    filter: brightness(0.9);
}

.action-btn {
    background-color: #2d88ff;
    margin-top: 8px;
}


td {
    white-space: normal;
    word-wrap: break-word;
}