body {
    background-image: url('bg-img.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.appWrapper {
    margin-top: 100px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(96, 29, 1, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    max-height: fit-content;
    max-width: 90%;
}

h1.title {
    font-size: 4.5rem;
    text-align: center;
    /* margin-bottom: 30px; */
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #ff5531;
    line-height: .65;
}

h1 > span.titleSpan {
    font-weight: 400;
    color: #2c2c2c;
    letter-spacing: 1.5px;
    font-size: 2rem;
}

.intro {
    margin: 50px;
}

.welcome-container {
    padding: 20px;
    margin: 50px auto;
    background: none;
    border: none;
}

.loginDetails {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #0a0a0a;
    font-size: 1.25rem;
    margin: 20px 40px;
}

.welcome-container {
    padding: 20px;
    margin: 50px auto;
}

strong,
a#link-to-olla {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #ff5531;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1.25rem;
}

.btn {
    border-radius: 4px;
    color: #e4e6eb;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.btn:disabled {
    background-color: #494949;
    color: #ccc;
}

.btn:disabled:hover {
    cursor: not-allowed;
}

.btn:not(:disabled):hover {
    filter: brightness(0.9);
}

.action-btn {
    background-color: #2d88ff;
    margin-top: 8px;
}
