body {
    background: url('../images/olla-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    overflow: none;
}

h1.title {
    font-size: 3rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    color: #ff5531;
}

.login-container {
    padding: 20px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(96, 29, 1, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}